.sell-dialog-content {
  display: flex;
  overflow: visible;
}

.input-section, .product-input {
  display: flex;
  flex-direction: column;
}

@media (max-width: 935px) {
  .sell-dialog-content {
    flex-direction: column;
  }
}
