.add-customer-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}

mat-card-content {
  padding: 0;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: start;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 14px;
  }

  tr {
    position: relative;
    font-size: 16px;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;

    &:first-child {
      cursor: unset;

      &:hover {
        background-color: unset;
      }
    }

    &:last-child {
      border-bottom: 0;
    }

    td {
      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      &:first-child {
        padding-left: 16px;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
    }
  }
}

@media (max-width: 915px) {
  .customer-mail, .customer-tel {
    display: none;
  }
}

@media (max-width: 365px) {
  .customer-city {
    display: none;
  }
}
