<mat-card class="user-detail-header">
    <mat-card-content>
        <button mat-icon-button class="pos-right-upper" [matMenuTriggerFor]="headerMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    
        <mat-menu #headerMenu="matMenu">
            <button mat-menu-item (click)="editUserName()">edit</button>
        </mat-menu>

        <img src="assets/img/profile.png">
        
        <div>
            <h1>{{ user.firstName }} {{ user.lastName }}</h1>
            <span>{{ user.email }}</span>
        </div>
    </mat-card-content>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pos-right-upper" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editUserAddress()">edit</button>
    </mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        {{ user.address }}<br>
        {{ user.zipCode }} {{ user.city }}
    </mat-card-content>
</mat-card>
