h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: start;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 14px;
  }
  tr {
    position: relative;
    font-size: 14px;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:last-child {
      border-bottom: 0;
    }

    td {
      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      &:first-child {
        padding-left: 16px;
      }
    }
  }
}

@media (max-width: 650px) {
  .product-name {
    display: none;
  }

  .sell-index {
    display: none;
  }
}

@media (max-width: 465px) {
  .sell-date {
    display: none;
  }
}

@media (max-width: 400px) {
  table {
    tr {
      td{
        font-size: 11px;
      }
    }
  }
}
