<h1>Last 10 Sales</h1>

<mat-card>
  <mat-card-content>
    <table>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Date</th>
        <th>Product</th>
        <th>Total</th>
      </tr>
      <tr *ngFor="let purchase of lastPurchases">
        <td>{{ purchase.index }}</td>
        <td>{{ purchase.name }}</td>
        <td>{{ purchase.date }}</td>
        <td>{{ purchase.product }}</td>
        <td>{{ purchase.total }} €</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>


