<div class="header-container">
  <h1>Dashboard</h1>
</div>

<div class="upper-container">
  <mat-card>
    <mat-card-content>
      <app-monthly-sales-chart></app-monthly-sales-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-proportional-sales></app-proportional-sales>
    </mat-card-content>
  </mat-card>
</div>

<div class="lower-container mt-32">
  <mat-card>
    <mat-card-content>
      <app-last-sales></app-last-sales>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-best-products></app-best-products>
    </mat-card-content>
  </mat-card>
</div>
