.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-container, .lower-container {
  display: flex;
  gap: 32px;

  mat-card {
    flex: 1;
  }
}

.form-field {
  display: flex;
  align-items: flex-start;
}
