<div class="header-container">
  <h1>Dashboard</h1>
  <mat-form-field appearance="outline">
    <mat-label>Enter a year</mat-label>
    <input
      matInput
      placeholder="YYYY"
      [(ngModel)]="selectedYear"
      (ngModelChange)="checkValue($event)"
      (change)="getAllCustomer()"
      #yearInput
    />
  </mat-form-field>
</div>

<div class="upper-container">
  <mat-card>
    <mat-card-content>
      <app-monthly-sales-chart></app-monthly-sales-chart>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>
      <app-proportional-sales></app-proportional-sales>
    </mat-card-content>
  </mat-card>
</div>

<div class="lower-container mt-32">
  <mat-card>
    <mat-card-content>
      <app-last-sales></app-last-sales>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
</div>
