<h1 mat-dialog-title>Sell product to customer</h1>
<div mat-dialog-content class="sell-dialog-content">
  <div class="input-section, mr-16">
    <div class="product-input">
      <mat-form-field appearance="outline">
        <mat-label>Select a product</mat-label>
        <mat-select [(value)]="productId" (selectionChange)="getProductData()">
          <mat-option value="{{ product.id }}" *ngFor="let product of allProducts; let i = index">{{ product.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Value</mat-label>
        <input matInput placeholder="1" [(ngModel)]="sellingProduct.value" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput placeholder="2000" [(ngModel)]="sellingProduct.price" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Select a customer</mat-label>
        <mat-select [(value)]="customerId">
          <mat-option value="{{ customer.id }}" *ngFor="let customer of allCustomers; let i = index">{{ customer.firstName }} {{ customer.lastName }}</mat-option>

        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div>
    <mat-card class="mb-16">
      <mat-card-content>
        <ul>
          <li>Prozessor: {{ currentProduct.prozessor }}</li>
          <li>Mainborad: {{ currentProduct.mainboard }}</li>
          <li>GPU: {{ currentProduct.gpu }}</li>
          <li>RAM: {{ currentProduct.ram }}</li>
          <li>SSD: {{ currentProduct.ssd }}</li>
          <li>Power supply: {{ currentProduct.power }}</li>
          <li><b>Price: {{ currentProduct.price }}€</b></li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <table>
          <tr>
            <td>Price per Unit:</td>
            <td>{{ sellingProduct.price }}€</td>
          </tr>
          <tr>
            <td>Value:</td>
            <td>{{ sellingProduct.value }}</td>
          </tr>
          <tr>
            <td><b>Total:</b></td>
            <td><b>{{ sellingProduct.price * sellingProduct.value }}€</b></td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close (click)="sellProduct()">Sell</button>
</div>
