/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16 {
    margin-right: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-16 {
  margin-bottom: 32px;
}

.full-width {
    width: 100%;
}

.of-visible {
    overflow: visible !important;
}

.border-bottom-grey {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.pos-right-upper {
  position: absolute !important;
  right: 8px;
  top: 8px;
}
