<mat-card class="customer-detail-header">
  <mat-card-content>
    <button
      mat-icon-button
      class="pos-right-upper"
      [matMenuTriggerFor]="headerMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #headerMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="editCustomerName()">edit</button>
    </mat-menu>

    <img src="assets/img/profile.png" />

    <div>
      <h1>{{ customer.firstName }} {{ customer.lastName }}</h1>
      <span>{{ customer.company }}</span>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pos-right-upper"
    [matMenuTriggerFor]="addressMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="editCustomerAddress()">edit</button>
  </mat-menu>

  <mat-card-header class="border-bottom-grey">
    <mat-card-title>Contact information</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    {{ customer.address }}<br />
    {{ customer.zipCode }} {{ customer.city }}<br />
    <a href="mailto:{{ customer.email }}">{{ customer.email }}</a
    ><br />
    <a href="tel:{{ customer.telephone }}">{{ customer.telephone }}</a>
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    class="pos-right-upper"
    [matMenuTriggerFor]="sellingMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #sellingMenu="matMenu" xPosition="before">
    <button mat-menu-item (click)="editCustomerAddress()">Direkt sell</button>
    <button mat-menu-item (click)="editCustomerAddress()">All purchases</button>
  </mat-menu>

  <mat-card-header class="border-bottom-grey">
    <mat-card-title>Puchases</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <table class="purchases-table">
      <tr>
        <th>No.</th>
        <th>Date</th>
        <th>Product</th>
        <th>Value</th>
        <th>Price per unit</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let purchase of purchases; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ getDate(purchase.date) }}</td>
        <td>{{ purchase.product }}</td>
        <td>{{ purchase.value }}</td>
        <td>{{ purchase.price }}€</td>
        <td>{{ purchase.price * purchase.value }}€</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>in total</td>
        <td>{{ getTotalVolume() }}€</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
